.menu-loading, .menu-error{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}