.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--text-color);
    color: var(--primary-color);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.navbar-logo img {
    height: 45px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: 5px;
    margin-right: 0.5rem;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0 10px;
}

.cart-badge{
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translate(20%, -130%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    min-width: 22px;
    height: 22px;
    padding: 0 6px;
    font-size: 0.8rem;
    line-height: 1;
    color: var(--text-color);
    background: var(--primary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.18s ease;
    border: 2px solid var(--text-color);
}

.navbar-links a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 16px;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.navbar-links a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.navbar-links a:hover .cart-badge {
    background: var(--text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.navbar-burger{
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-burger span {
    width: 24px;
    height: 2px;
    background: var(--background-color);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 998;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    background: var(--background-color-dark);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: right 0.3s ease;
    z-index: 999;
    border-left: 5px solid var(--primary-color);
}

.side-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: -1.5rem;
    padding: 1rem;
    background: linear-gradient(95deg, var(--primary-color), var(--secondary-color));
    margin-bottom: 10px;
}

.side-menu-header img {
    height: 80px;
    border-radius: 50%;
    outline: 2px solid var(--text-color);
    outline-offset: 3px;
    border: 2px solid var(--text-color);
}

.side-menu-header p {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--text-color);
    overflow: hidden;
    text-size-adjust: inherit;
    text-overflow: ellipsis;
}

.side-menu hr{
    display: flex;
    border: 0;
    height: 1px;
    background: var(--primary-color);
    margin: 5px 0;
}

.side-menu.open {
    right: 0;
}

.side-menu a {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    padding: 1.5rem 1rem;
    transition: all 0.2s ease-in-out;
}

.side-menu a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.05);
}

.side-menu a:active {
    font-weight: bold;
}

.side-menu svg{
    height: fit-content;
    width: 1.5rem;
}

.side-menu .close {
    display: flex;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background: none;
    border: none;
    outline: 3px solid var(--background-color-dark);
    outline-offset: 5px;
    cursor: pointer;
    background-color: var(--background-color-dark);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    color: var(--primary-color);
    width: 35px;
    text-align: center;
}

.side-menu .cart-badge-mobile {
    
}

/* Dispositivos Móviles (hasta 768px) */
@media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-burger {
        display: flex;
    }
    .side-menu a {
        flex-direction: row;
        font-size: 1.3rem;
        padding: 1rem;
    }
    .side-menu svg{
        height: fit-content;
        width: 1.3rem;
    }

    .side-menu-header img {
        height: 55px;
    }
    .side-menu-header p {
        font-size: 1rem;
    }
}

/* Tabletas (desde 600px hasta 1024px) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .navbar-links {
        display: none;
    }
    .navbar-burger {
        display: flex;
    }
    .side-menu a {
        flex-direction: row;
        font-size: 1.3rem;
        padding: 1.5rem 1rem;
    }
    .side-menu svg{
        height: fit-content;
        width: 1.5rem;
    }
    .side-menu-header img {
        height: 70px;
    }
    .side-menu-header p {
        font-size: 1.3rem;
    }
}

/* Escritorio (desde 1024px en adelante) */
@media only screen and (min-width: 1024px) {
    .navbar-burger {
        display: none;
    }
}
