
.categoriaShow-loading{
    display: flex;
    background: var(--background-color);
    min-height: 80dvh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}