.busqueda-bar {
    position: relative;
    width: 70%;
}

.busqueda-input {
    width: 100%;
    padding: 10px 12px;
    background: var(--background-color-gray);
    color: var(--text-color-light);
    font-weight: 400;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.busqueda-input::placeholder {
    color: var(--text-color-light);
    opacity: 0.7;
}

.busqueda-input:focus {
    outline: none;
    border-color: var(--background-color);
}

.busqueda-status {
    position: absolute;
    margin-top: 8px;
    top: 0;
    right: 0;
    transform: translate(-50%, 0%);
    color: var(--text-color-light);
    font-size: 13px;
    z-index: 10;
}

.busqueda-error {
    position: absolute;
    margin-top: 10px;
    flex-direction: column;
    gap: 1rem;
    border-radius: 16px;
    width: 100%;
    background: var(--background-color-dark);
    outline: 2px solid var(--primary-color);
    padding: 1rem;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.busqueda-error .busqueda-retry,
.busqueda-error .busqueda-clear {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 8px;
    padding: .3rem 1rem;
    border: none;
    background: var(--background-color-dark);
    color: var(--text-color-light);
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    max-width: 120px;
    transition: all 0.2s ease;
}

.busqueda-error .busqueda-retry:hover,
.busqueda-error .busqueda-clear:hover {
    background: var(--primary-color);
    color: var(--text-color);
}

.busqueda-results {
    margin-top: 8px;
    background: var(--background-color-dark);
    outline: 2px solid var(--primary-color);
    border-radius: 6px;
    max-height: 320px;
    overflow-y: auto;
    padding: 8px;
    position: absolute;
    width: 100%;
}

.busqueda-results::-webkit-scrollbar {
    width: 8px;
}

.busqueda-results::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}

.busqueda-results::-webkit-scrollbar-track {
    background: transparent;
}

.busqueda-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius: 6px;
    background: var(--primary-color);
    margin: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.01) inset;
    text-decoration: none;
}

.busqueda-card-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.busqueda-card-price {
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-color-light);
}

.busqueda-noresults {
    display: none;
    position: absolute;
    margin-top: 8px;
    color: #666;
}

.grupos-list .grupos-title {
    font-weight: 600;
    margin-bottom: 6px;
}

.busqueda-card.grupo {
    background: #f7f7ff;
}
