.header {
    position: relative;
    background: linear-gradient(125deg, var(--background-color-gray), var(--background-color-gray-hover));
}

.header-content {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: white;
    max-width: 500px;
}
