.image-with-skeleton-wrapper {
    position: relative;
    width: 100%;
}

.image-with-skeleton-wrapper img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
}

.image-skeleton-placeholder {
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 8px;
}
